@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: #08c1c8;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Poppins';
  height: 100vh;
  overflow-y: hidden;
}

.navbar {
  background-color: white;
  height: 50px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 6px #cfc8c8;
          box-shadow: 0px 0px 6px #cfc8c8;
}

.navbar a {
  display: inline-block;
  line-height: 1;
  margin-top: 2px;
}

.navbar .logo {
  vertical-align: bottom;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logoAndSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  height: 40px;
  width: 320px;
  background-color: #efefef;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search img {
  width: 20px;
  margin-left: 10px;
}

.search input {
  margin-left: 10px;
  width: 250px;
  background-color: #efefef;
  border: none;
}

.search input:focus {
  outline: none;
}

.search input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search input:focus:-ms-input-placeholder {
  color: transparent;
}

.search input:focus::-ms-input-placeholder {
  color: transparent;
}

.search input:focus::placeholder {
  color: transparent;
}

.divider-line-background-color {
  width: 100%;
  height: 2px;
  border-width: 0;
  background-color: #fafafa;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: medium;
  color: #707070;
  font-size: medium;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

ul .li-a {
  text-decoration: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #707070;
}

ul .icon {
  width: 25px;
  margin-right: 10px;
}

ul .profile-image {
  width: 30px;
  height: 30px;
  border-radius: 1000px;
}

.right-nav .icon {
  width: 20px;
}

.btn-danger {
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background-color: #cc3333;
  border-color: #7a1f1f;
  color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 8px;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: #a32929;
  -webkit-box-shadow: 0 0 5px 0 #7a1f1f;
          box-shadow: 0 0 5px 0 #7a1f1f;
}

.profile-image-name {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 5px;
  margin: 4px;
  border-radius: 10000px;
}

.profile-image-name:hover {
  background-color: #ececec;
}

.profile-image-name .profile-image {
  margin-right: 10px;
}

.icon-description:hover {
  background-color: #ececec;
}

.button {
  padding: 0.5em 1.2em;
  border-radius: 0.2em;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

.button:hover {
  cursor: pointer;
}

.friendrequest-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px auto;
      grid-template-columns: 350px auto;
  width: 100vw;
  height: calc(100% - 50px);
}

.friendrequest-container .friendrequest-list {
  background-color: white;
  -webkit-box-shadow: 1px 3px 6px #cfc8c8;
          box-shadow: 1px 3px 6px #cfc8c8;
  height: 100%;
}

.friendrequest-container .friendrequest-list .container {
  margin-left: 1.5em;
  height: 100%;
}

.friendrequest-container .friendrequest-list .container h3 {
  font-weight: 500;
  font-size: 24px;
  padding-top: 0.5em;
}

.friendrequest-container .friendrequest-list .container p {
  padding-top: 0.3em;
}

.friendrequest-container .friendrequest-list .container .request_container {
  height: 80%;
  overflow-y: auto;
}

.friendrequest-container .friendrequest-list img {
  width: 66px;
  height: 66px;
  border-radius: 1000px;
}

.friendrequest-container .friendrequest-list .requests {
  display: inline-block;
  width: 100%;
}

.friendrequest-container .friendrequest-list li {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 0.3fr auto;
      grid-template-columns: 0.3fr auto;
  margin: 0;
}

.friendrequest-container .friendrequest-list li:hover {
  cursor: pointer;
}

.friendrequest-container .friendrequest-list li img {
  margin-right: 1em;
}

.friendrequest-container .friendrequest-list li .name_and_buttons {
  height: 110px;
  padding-top: 2em;
}

.friendrequest-container .friendrequest-list li .name_and_request_day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.friendrequest-container .friendrequest-list li .name_and_request_day .name {
  margin-right: 2.5em;
  color: black;
  font-weight: 500;
}

.friendrequest-container .friendrequest-list li .name_and_request_day .day {
  font-size: 14px;
}

.friendrequest-container .friendrequest-list li .buttons {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.friendrequest-container .friendrequest-list li .buttons .confirm {
  background-color: var(--primary-color);
  color: white;
}

.friendrequest-container .friendrequest-list li .buttons .delete {
  background-color: #c2c2c2;
}

.friendrequest-container .profile-preview {
  background-color: inherit;
  height: 100%;
}

.friendrequest-container .profile-preview p {
  font-size: 26px;
  font-weight: 500;
  color: #706565;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-30%, 180%);
          transform: translate(-30%, 180%);
}

.hide {
  display: none;
}

.profile-preview-container {
  height: 100%;
}

.profile-container {
  height: 100%;
  width: 80%;
  margin: 0 auto 0 auto;
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5em 0 2em 0;
}

.profile-header img {
  width: 200px;
  height: 200px;
  border-radius: 10000px;
  margin-left: 3em;
}

.profile-header h2 {
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

.profile-header .name-and-info {
  margin-left: 5em;
}

.profile-header .name-and-info .posts {
  margin-right: 3em;
}

.profile-header .name-and-info .description {
  font-weight: 200;
}

.profile-information {
  height: 50%;
}

.profile-information .divider-line {
  height: 1px;
  border-width: 0;
  background-color: #cfc8c8;
  width: 100%;
}

.profile-information .profile-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-information .profile-nav ul li {
  font-size: 24px;
  text-transform: uppercase;
  color: #343434;
  cursor: pointer;
}

.profile-information .profile-nav .divider-line-li {
  width: 100%;
  height: 2px;
  border-width: 0;
  background-color: black;
}

.profile-information .about-container {
  height: 75%;
  width: 80%;
  margin: 0 auto;
}

.profile-information .about-container img {
  width: 25px;
  height: 25px;
}

.profile-information .about-container .info-and-hobbies {
  margin-left: 2em;
}

.profile-information .about-container .icon-and-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.profile-information .about-container .icon-and-description .description {
  margin-left: 1.5em;
}

.profile-information .about-container .hobbies {
  margin-left: -2.7em;
}

.profile-information .mutual-friends-container {
  width: 80%;
  height: 70%;
  background-color: white;
  margin: 1.5em auto 0 auto;
}

.profile-information .mutual-friends-container .mutual-friends-title {
  display: inline-block;
  margin-top: 0.5em;
  margin-left: 1em;
  color: #676767;
}

.profile-information .mutual-friends-container .mutual-friends-profile-and-name {
  width: 90%;
  height: 80%;
  margin: 1em auto 0 auto;
  overflow-y: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 45%;
}

.profile-information .mutual-friends-container .mutual-friends-profile-and-name .profile-and-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

.profile-information .mutual-friends-container .mutual-friends-profile-and-name .profile-and-name img {
  width: 95%;
  border-radius: 5px;
}

.profile-information .mutual-friends-container .mutual-friends-profile-and-name .profile-and-name .name {
  display: inline-block;
  margin-top: 0.5em;
  font-size: 14px;
  color: #343434;
}
/*# sourceMappingURL=friendrequest.css.map */