@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #08c1c8;
  --links-color: #707070;
  --search-background-color: #efefef;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;

  font-family: 'Poppins';
  box-sizing: border-box;
  height: 100vh;
  overflow-y: hidden;
}

.hide {
  display: none;
}

.w-100 {
  width: 100%;
}

.navbar-desktop {
  background-color: white;
  height: 50px;
  box-shadow: 0px 0px 3px #cfc8c8;

  //new css content to make fixed navbar
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  a {
    display: inline-block;
    line-height: 1;
    margin-top: 2px;
  }
  .logo {
    vertical-align: bottom;
  }

  .container {
    display: flex;
    justify-content: space-around;
  }
}

.logoAndSearch {
  display: flex;
}

.search {
  height: 40px;
  width: 320px;
  background-color: #efefef;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 1000px;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    margin-left: 10px;
  }

  input {
    margin-left: 10px;
    width: 250px;
    background-color: #efefef;
    border: none;

    &:focus {
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }
  }
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: medium;
  color: #707070;

  // background-color: #efefef;
  font-size: medium;

  li {
    display: flex;
    align-items: center;
    // margin-right: 16px;
    padding: 0 10px;
    // position: relative;
  }

  .li-a {
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
    color: #707070;
    position: relative;

    .friend-request-badge {
      position: absolute;
      top: -8px;
      left: 18px;
      color: white;
      background-color: rgb(248, 41, 41);
      padding: 3px 5px;
      font-size: 12px;
      border-radius: 10000px;
    }
    .notification-badge,
    .message-badge {
      position: absolute;
      top: -8px;
      left: 12px;
      color: white;
      background-color: rgb(248, 41, 41);
      padding: 3px 5px;
      font-size: 12px;
      border-radius: 10000px;
    }
  }

  .icon {
    width: 25px;
    margin-right: 10px;
  }

  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 1000px;
  }
}

.right-nav {
  .icon {
    width: 20px;
  }
}

.btn-danger {
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background-color: hsl(0, 60%, 50%);
  border-color: hsl(0, 60%, 30%);
  color: white;
  align-self: flex-start;
  margin-top: 8px;
  &:hover,
  &:focus {
    background-color: hsl(0, 60%, 40%);
    box-shadow: 0 0 5px 0 hsl(0, 60%, 30%);
  }
}

.profile-image-name {
  align-self: flex-start;

  margin-top: 5px;
  padding: 4px;
  //margin: auto;//yo friendrequest ma mileko cha auto halda
  border-radius: 10000px;

  &:hover {
    background-color: #ececec;
  }

  .profile-image {
    margin-right: 10px;
    object-fit: cover;
  }
}

.icon-description:hover {
  background-color: #ececec;
}

//NAVBAR CSS FOR TABLETS

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.li-icon-tablet {
  width: 25px;
}

.search-field {
  outline: none;
  border: none;
  background-color: var(--search-background-color);
  margin-left: 0.5em;

  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}

.navbar-tablet {
  display: none;

  //new css content to make fixed navbar
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  background-color: white;
  box-shadow: 0px 0px 3px #cfc8c8;

  .logo {
    width: 40px;
  }

  .search-icon {
    width: 18px;
  }

  .search-field {
    width: 200px;
  }

  .links {
    padding: 0;
  }

  .links a {
    display: flex;
    padding: 0.2em 0.5em;

    align-items: center;
    height: 100%;
    text-decoration: none;
    color: var(--links-color);
    position: relative;

    &:hover {
      background-color: var(--search-background-color);
    }

    .message-badge,
    .notification-badge,
    .friend-request-badge {
      position: absolute;
      top: 1px;
      left: 20px;
      color: white;
      background-color: rgb(248, 41, 41);
      padding: 1px 5px;
      font-size: 12px;
      border-radius: 10000px;
    }

    img {
      height: 25px;
      width: 25px;
      margin-right: 0.4em;
    }
  }

  .search-icon-container {
    background-color: var(--search-background-color);
    height: 35px;

    padding: 0.2em 0.8em;
    border-radius: 10000px;
    margin-left: 0.5em;
  }

  .navbar-top {
    height: 45px;
    box-shadow: 0px 0px 1px #cfc8c8;

    .navbar-top-left {
      padding-left: 1em;
    }

    .navbar-top-right {
      padding-right: 1em;
      .profile-img {
        width: 30px;
        height: 30px;
        border-radius: 10000px;
        object-fit: cover;
      }

      .profile-link {
        border-radius: 1000px;
        padding: 0;
        height: auto;
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin-left: 0.4em;
        padding-top: 2px;
        padding-bottom: 2px;
      }

      .logout-tablet {
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.4em 0.5em 0.3em 0.5em;
        color: white;
        background-color: hsl(0, 60%, 50%);
        border-color: hsl(0, 60%, 30%);
        border-radius: 5px;
        color: white;
        align-self: flex-start;
        margin-top: 8px;
        &:hover,
        &:focus {
          background-color: hsl(0, 60%, 40%);
          box-shadow: 0 0 5px 0 hsl(0, 60%, 30%);
        }
      }
    }
  }

  //CSS for bottom navbar in tablet

  .navbar-bottom {
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding-left: 1em;
    padding-right: 1em;
  }
}

//NAVIGATION CSS FOR MOBILE
.navbar-mobile {
  background-color: white;
  box-shadow: 0px 0px 3px #cfc8c8;
  //new css content to make fixed navbar
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  .mobile-logout {
    margin-left: auto 0;

    padding: 0.3em 0.4em 0.3em 0.4em;
    color: white;
    background-color: hsl(0, 60%, 50%);
    border-color: hsl(0, 60%, 30%);
    border-radius: 5px;
    color: white;
    align-self: flex-start;
    margin-top: 8px;
    &:hover,
    &:focus {
      background-color: hsl(0, 60%, 40%);
      box-shadow: 0 0 5px 0 hsl(0, 60%, 30%);
    }
  }

  button {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 25px;
    height: 25px;
  }
  .profile-img {
    border-radius: 1000px;
    height: 30px;
    width: 30px;
    object-fit: cover;
  }

  .mobile-search-icon {
    width: 20px;
    height: 20px;
  }

  .logo {
    height: 35px;
    width: 35px;
  }
  .back-icon {
    width: 20px;
  }

  .mobile-search-div {
    background-color: var(--search-background-color);
  }

  .navbar-mobile-top {
    // display: flex;
    // justify-content: space-between;
    // padding-left: 0.5em;
    // padding-right: 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 1px #cfc8c8;
  }

  .mobile-top-left {
    display: flex;
    align-items: center;
    padding-left: 1em;

    .mobile-search-div {
      border-radius: 10000px;
      display: flex;
      align-items: center;
      margin-left: 1em;
      padding: 5px 8px;
    }
  }

  .mobile-top-right {
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }

  .navbar-mobile-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px;
    gap: 15px;

    a {
      position: relative;
      .badge {
        position: absolute;
        top: -5px;
        left: 18px;
        color: white;
        background-color: rgb(248, 41, 41);
        padding: 1px 5px;
        font-size: 12px;
        border-radius: 10000px;
      }
    }
  }

  .grid-div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    //padding-top: 10px;
    border-radius: 3px;
    padding-top: 5px;
    &:hover {
      background-color: var(--search-background-color);
    }
  }
}

.button {
  padding: 0.5em 1.2em;
  border-radius: 0.2em;
  border: none;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }
}

.friendrequest-container {
  display: grid;
  grid-template-columns: 350px auto;

  width: 100vw;
  //height: calc(100% - 50px);
  height: 100%;
  //padding-top: 50px;
  margin-top: 50px;

  //overflow: auto; //changed from hidden because horizontal scrollbar was not
  //showing up when screen size is decreased. //overflow: auto did not work but
  //removing the overflow property entirely introduced a horizon scrollbar in the
  //browser automatically.

  .friendrequest-list {
    background-color: white;
    box-shadow: 1px 3px 6px #cfc8c8;

    height: 100%; //recently added;

    .container {
      margin-left: 1.5em;
      height: 100%;

      h3 {
        font-weight: 500;
        font-size: 24px;
        padding-top: 0.5em;
      }

      p {
        padding-top: 0.3em;
      }

      .profile-preview-p-small-screen {
        font-size: 15px;
        color: var(--links-color);
        display: none;
      }

      .request_container {
        height: 80%;

        overflow-y: auto;
      }
    }

    img {
      width: 66px;
      height: 66px;
      border-radius: 1000px;
    }
    .requests {
      display: inline-block;
      width: 100%;
    }

    li {
      display: grid;
      width: 100%;
      grid-template-columns: 0.3fr auto;
      margin: 0;

      &:hover {
        cursor: pointer;
      }

      img {
        margin-right: 1em;
      }

      .name_and_buttons {
        height: 110px;
        padding-top: 2em;
      }

      .name_and_request_day {
        display: flex;
        justify-content: space-around;

        .name {
          margin-right: 2.5em;
          color: black;
          font-weight: 500;
        }

        .day {
          font-size: 14px;
        }
      }

      .buttons {
        padding-top: 1em;
        display: flex;
        justify-content: space-around;

        .confirm {
          background-color: var(--primary-color);
          color: white;
        }

        .delete {
          background-color: #c2c2c2;
        }
      }
    }
  }

  .profile-preview {
    background-color: inherit;
    position: relative;
    height: 100%; //recently added

    p {
      font-size: 26px;
      font-weight: 500;
      color: #706565;
      position: absolute;
      top: 30%;
      left: 25%;
    }
  }
}

.hide {
  display: none;
}

// .profile-preview-container {
//   height: 100%;
// }

.profile-container {
  height: 100%;
  width: 80%;
  min-width: 500px;
  margin: 0 auto 0 auto;
  position: relative;
}

.back-btn-container {
  background-color: white;

  padding: 0.4em 0.5em 0.2em 0.5em;
  border-radius: 15em;
  position: absolute;
  top: 0.3em;
  left: 0.3em;
}

// #back-btn-profile-container {
//   margin: 1em 0 0 1em;
// }
.profile-header {
  display: flex;
  align-items: center;

  padding: 2.5em 0 2em 0;

  img {
    width: 200px;
    height: 200px;
    border-radius: 10000px;
    margin-left: 3em;
  }

  h2 {
    padding: 0;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1.5em;
  }

  .name-and-info {
    margin-left: 5em;
    h2 {
      font-size: 1.5em;
    }

    .posts {
      margin-right: 3em;
    }

    .description {
      font-weight: 200;
    }
  }
}

.profile-information {
  height: 50%;

  .divider-line {
    height: 1px;
    border-width: 0;
    background-color: #cfc8c8;
    width: 100%;
  }

  .profile-nav {
    width: 100%;
    display: flex;

    justify-content: center;

    ul li {
      font-size: 24px;
      text-transform: uppercase;
      color: #343434;
      cursor: pointer;
    }

    .divider-line-li {
      width: 100%;

      height: 2px;
      border-width: 0;
      background-color: black;
    }
  }

  .about-container {
    height: 75%;
    width: 80%;

    margin: 0 auto;

    img {
      width: 25px;
      height: 25px;
    }
    .info-and-hobbies {
      margin-left: 2em;
    }
    .icon-and-description {
      display: flex;
      align-items: center;
      margin-top: 1em;

      .description {
        margin-left: 1.5em;
      }
    }

    .hobbies {
      margin-left: -2.7em;
    }
  }

  .mutual-friends-container {
    width: 80%;
    height: 70%;
    background-color: white;
    margin: 1.5em auto 0 auto;

    .mutual-friends-title {
      display: inline-block;
      margin-top: 0.5em;
      margin-left: 1em;
      color: #676767;
    }

    .mutual-friends-profile-and-name {
      width: 90%;
      height: 80%;

      margin: 1em auto 0 auto;
      overflow-y: auto;

      display: grid;
      // grid-template-columns: repeat(4, 1fr);
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      gap: 10px;
      grid-auto-rows: auto;

      .profile-and-name {
        display: flex;
        flex-direction: column;

        align-items: flex-start;
        cursor: pointer;

        img {
          width: 95%;
          border-radius: 5px;
        }

        .name {
          display: inline-block;
          margin-top: 0.5em;
          font-size: 14px;
          color: #343434;
        }
      }
    }
  }
}

//MEDIA QUERIES

@media (max-width: 1230px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-tablet {
    display: block;
  }

  .friendrequest-container {
    margin-top: 90px;

    //profile image, name, the tabs should be smaller font
    .profile-header {
      img {
        height: 170px;
        width: 170px;
      }

      .name-and-info {
        h2 {
          font-size: 20px;
        }

        span {
          font-size: 15px;
        }
      }
    }

    .profile-information {
      .profile-nav {
        ul {
          li {
            font-size: 20px;
          }
        }
      }

      .icon-and-description {
        img {
          width: 20px;
          height: 20px;
        }

        .description {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar-tablet {
    ul {
      font-size: 15px;
    }
  }
}

@media (max-width: 750px) {
  #profile-preview-p {
    display: none;
  }

  .friendrequest-container {
    .friendrequest-list {
      .container {
        .profile-preview-p-small-screen {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 830px) {
  .friendrequest-preview {
    overflow-x: auto;
  }
}

@media (max-width: 600px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-tablet {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }

  .friendrequest-container {
    margin-top: 81px;
  }
}

@media (max-width: 501px) {
  .friendrequest-list {
    .container {
      .request_container {
        padding-left: 2em;
        padding-right: 4em;
      }
    }
  }
}
