@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #08c1c8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;

  font-family: 'Poppins';
  box-sizing: border-box;
  height: 100vh;
}

.hide {
  display: none;
}

.navbar {
  background-color: white;
  height: 50px;
  box-shadow: 0px 0px 6px #cfc8c8;

  a {
    display: inline-block;
    line-height: 1;
    margin-top: 2px;
  }
  .logo {
    vertical-align: bottom;
  }

  .container {
    display: flex;
    justify-content: space-around;
  }
}

.logoAndSearch {
  display: flex;
}

.search {
  height: 40px;
  width: 320px;
  background-color: #efefef;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 1000px;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    margin-left: 10px;
  }

  input {
    margin-left: 10px;
    width: 250px;
    background-color: #efefef;
    border: none;

    &:focus {
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }
  }
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: medium;
  color: #707070;

  // background-color: #efefef;
  font-size: medium;

  li {
    display: flex;
    align-items: center;
    // margin-right: 16px;
    padding: 0 10px;
  }

  .li-a {
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .icon {
    width: 25px;
    margin-right: 10px;
  }

  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 1000px;
  }
}

.right-nav {
  .icon {
    width: 20px;
  }
}

.btn-danger {
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background-color: hsl(0, 60%, 50%);
  border-color: hsl(0, 60%, 30%);
  color: white;
  align-self: flex-start;
  margin-top: 8px;
  &:hover,
  &:focus {
    background-color: hsl(0, 60%, 40%);
    box-shadow: 0 0 5px 0 hsl(0, 60%, 30%);
  }
}

.profile-image-name {
  align-self: flex-start;

  margin-top: 5px;
  padding: 4px;
  border-radius: 10000px;

  &:hover {
    background-color: #ececec;
  }

  .profile-image {
    margin-right: 10px;
  }
}

.icon-description:hover {
  background-color: #ececec;
}

.container-divider-line {
  // height: 1px;
  // border: none;
  // border-top: 1px solid #cfc8c8;
  // border-bottom: none;

  background-color: #cfc8c8;
  border: none;
  height: 1px;
  margin: 0px;

  width: 100%;
}

.bold-line {
  width: 100%;

  height: 2px;
  border-width: 0;
  background-color: black;
}

.primary-hr {
  width: 100%;

  height: 2px;
  border-width: 0;
  background-color: var(--primary-color);
}

.divider-line {
  height: 1px;
  border-width: 0;
  background-color: #ececec;
  width: 95%;
  margin: 10px auto;
}

/* profile-body css*/

.profile-body {
  width: 100vw;
  height: calc(100% - 50px);
  overflow-y: auto;

  .profile-container {
    width: 60%;
    height: 100%;

    margin: 0 auto;

    .profile-header {
      display: flex;
      padding-top: 2em;
      padding-left: 6em;
      margin-bottom: 1.5em;

      .profile-image-container {
        height: 13vmax;
        width: 13vmax;
      }

      .profile-image {
        height: 100%;
        width: 100%;
        min-width: 10vw;
        min-height: 10vw;
        object-fit: cover;
        border-radius: 10000px;
      }

      .header-info {
        margin-left: 7em;
        margin-top: 3em;

        .header-info-upper {
          display: flex;
          align-items: center;
          justify-content: space-around;

          * {
            margin-right: 1em;
          }

          .name {
            font-size: 22px;
            color: #343434;
          }

          .edit-profile-btn {
            padding: 0.5em 1em;
            border-radius: 5px;
            border: 1px solid #cfc8c8;
            letter-spacing: 1px;
            color: #343434;
            font-size: 14px;
            font-weight: 400;
            background-color: white;
          }

          .settings-icon {
            width: 30px;
          }
        }

        .header-info-lower {
          margin-top: 2.5em;
          color: #343434;

          .span-description {
            margin-right: 1em;
            font-weight: 300;
          }
        }
      }
    }

    /*about-container*/
    .about-container {
      width: 100%;

      // text-align: center;

      .title-and-hr {
        display: inline-block;
        margin-left: 30%;

        //bold-line css thiyo paila

        .about-span {
          text-transform: uppercase;
          display: inline-block;
          font-size: 22px;
          margin-top: 0.2em;
          color: #343434;
        }
      }

      .about-description {
        padding-left: 20%;
      }

      img {
        width: 25px;
        height: 25px;
      }
      .info-and-hobbies {
        margin-left: 2em;
      }
      .icon-and-description {
        display: flex;
        align-items: center;
        margin-top: 1em;

        .description {
          margin-left: 1.5em;
        }
      }

      .hobbies {
        margin-left: -2.7em;
      }
    }

    // css for about-container ends

    /*CSS for posts-and-friends-container*/
    .posts-and-friends-container {
      width: 100%;
      margin-top: 1.5em;

      .posts-and-friends-ul {
        margin-left: 30%;

        .profile-nav {
          margin-right: 1em;
        }
        margin-bottom: 1em;
      }

      .li-div h3 {
        text-transform: uppercase;
        margin-top: 0.2em;
        font-size: 22px;
        font-weight: 400;
        color: #343434;
      }
    }
  }
}

.post-container {
  background-color: inherit;
  margin-top: 1em;

  width: 70%;
  margin: 0 auto;

  .post {
    margin-bottom: 1em;
    border: 1px solid #ececec;
    .post-header {
      background-color: white;
      display: flex;
      align-items: center;
      padding-left: 0.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 10em;
      }

      .name {
        margin-left: 0.5em;
      }

      .span-desc {
        margin-left: 0.5em;
        font-weight: 300;
        font-size: 0.9em;
        color: #676767;
      }
    }

    .post-image img {
      width: 100%;
      // height: 375px;
      // margin-top: 0.5em;
    }

    .post-bottom {
      background-color: white;
    }

    .likes-icon-and-info {
      display: flex;
      align-items: center;
      padding-left: 1em;

      .like-info {
        color: #676767;
        margin-left: 0.5em;
      }
    }

    .action {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        margin-right: 1em;
      }
      &:hover {
        cursor: pointer;
      }

      .description {
        color: #676767;
      }
    }

    .icons-and-actions {
      display: flex;
      justify-content: space-around;
    }

    .comment-container {
      margin-bottom: 0.5em;
    }

    .comment-input-container {
      display: flex;
      align-items: center;
      padding-left: 1em;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 10em;
      }

      input {
        width: 80%;
        height: 2.5em;
        margin-left: 1em;
        border-radius: 10em;
        background-color: #efefef;
        border: none;
        padding-left: 1em;
        font-size: 1em;

        &:focus {
          outline: none;
          &::placeholder {
            color: transparent;
          }
        }
      }

      .action-post {
        margin-left: 1em;
        color: var(--primary-color);
      }
    }
  }
}

.friends-container {
  width: 100%;
  height: 50vh;
  background-color: white;
  border-radius: 5px;
  overflow-y: auto;

  .friends-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5em;

    h3 {
      color: var(--primary-color);
      font-size: 16px;
      font-weight: 400;
    }

    .friends-header-left {
      margin-left: 1em;

      h3 {
        margin-bottom: 0.3em;
      }
    }

    .friends-header-right {
      display: flex;
      align-items: center;
      margin-right: 1em;

      .search-div {
        height: 35px;
        width: 270px;
        background-color: #efefef;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        border-radius: 1000px;
        display: flex;
        align-items: center;
        margin-right: 1em;

        img {
          width: 18px;
          margin-left: 10px;
        }

        input {
          margin-left: 10px;
          width: 250px;
          background-color: #efefef;
          border: none;
          font-size: 14px;

          &:focus {
            outline: none;
            &::placeholder {
              color: transparent;
            }
          }
        }
      }
    }
  }

  .friend-profile-img {
    height: 100px;
    width: 150px;
  }

  .friends-list {
    margin-top: 1em;
    margin-left: 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    .unfriend-btn {
      display: flex;
      align-items: center;
      padding: 0.5em 0.8em;
      color: #7b7a7a;
      font-size: 16px;
      border: 1px solid #c2c2c2;
      border-radius: 5px;

      .unfriend-icon {
        height: 25px;
        margin-right: 0.5em;
      }
    }

    .friend-tab {
      display: flex;
      align-items: center;
      justify-content: space-around;

      border: 1px solid #e5e5e5;

      width: 430px;
      height: 100px;

      border-radius: 5px;

      img {
        width: 100px;
        height: 80px;
        border-radius: 5px;
      }

      .name {
        font-size: 18px;
        font-weight: 400;
        color: #030303;
      }

      span {
        color: #676767;
        font-size: 14px;
      }

      .mutual-friends-no {
        margin-right: 0.4em;
      }

      .unfriend-btn {
        width: 130px;
        align-self: flex-start;
        margin-top: 1em;

        &:hover {
          background-color: #c2c2c2;
          cursor: pointer;
        }
      }
    }
  }
}
